<h1>Editing synonym</h1>

<% form_for(@synonym) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :str %><br />
    <%= f.text_field :str %>
  </p>
  <p>
    <%= f.label :word_id %><br />
    <%= f.text_field :word_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @synonym %> |
<%= link_to 'Back', synonyms_path %>