<h1>Listing emails</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Body</th>
    <th>Category</th>
    <th>Attachments</th>
  </tr>

<% @emails.each do |email| %>
  <tr>
    <td><%=h email.subject %></td>
    <td><%=h email.body %></td>
    <td><%=h email.tags %></td>
    <td><%= link_to 'Get Attachment', :action => :get_attachment, :id => email.id %></td>
    <td><%= link_to 'Show', email %></td>
    <td><%= link_to 'Edit', edit_email_path(email) %></td>
    <td><%= link_to 'Destroy', email, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Get Mail', :action => :get_mail, :id => 1 %> <br /> <br />
<%= link_to 'Back', :controller => "categories", :master_id => params[:master_id] %>
<%#= link_to 'New email', new_email_path %>