<p>
  <b>Subject:</b>
  <%=h @email.subject %>
</p>

<p>
  <b>Body:</b>
  <%=h @email.body %>
</p>

<p>
  <b>Category:</b>
  <%=h @email.category_id %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>